<div id="flex-user">
  <span id="logo">Simple project</span>
  <span id="user-name"><%="#{@current_user.name}  #{@current_user.lastname}"%></span>
</div>

<div id="menu-bar">
  <ul>
    <li><a class="" href="#home">Fiches projets</a></li>
    <li><a href="#news">Tâche</a></li>
    <li><a href="#contact">Taskforce</a></li>
    <li><a class="active" href="#about">Administration</a></li>
    <li id="shut-down"><a><i class="glyphicon glyphicon-off"></i></a></li>
  </ul>
</div>

<%#begin to of the form content%>
<div class="form-content">

  <%= form_with(model: @current_user, scope: :user, id:"target", remote: false) do |f| %>
    <div id="flex-reorganization">
      <div id="user-info-left">

          <h2>Mon adresse e-mail</h2>
          <div class="form-group">
            <%= f.label(:previousMail, "précédent e-mail") %>
            <%= f.email_field(:previousMail, required: true, id:"previous-mail" , class:"form-control", placeholder:"Enter email", value:"#{@current_user.email}", minlength: 2, maxlength: 100) %>
            <%= f.label(:email, "nouveau e-mail") %>
            <%= f.email_field(:email, required: true, id:"new-mail", class:"form-control", placeholder:"Enter email", minlength: 2, maxlength: 100) %>
          </div>

          <h2>Mon mot de passe:</h2>
          <div class="form-group">
              <%= f.label(:previous_password, "Ancien mot de passe") %>
              <%= f.password_field(:previous_password, required: true, id:"password", class:"form-control", minlength: 8, maxlength: 30) %>
              <%= f.label(:password, "Nouveau mot de passe") %>
              <%= f.password_field(:password, required: true, id:"new-password", class:"form-control", value:"", minlength: 6, maxlength: 30) %>
              <%= f.label(:password_confirmation, "Confirm password") %>
              <%= f.password_field(:password_confirmation, required: true,id:"confirm-password", class:"form-control", minlength: 6, maxlength: 30) %>
          </div>

          <h2>Mon nom:</h2>
          <div class="form-group">
            <%= f.label(:lastname, "Nom") %>
            <%= f.text_field(:lastname,required: false, id:"last-name", class:"form-control", placeholder:"nom", pattern:"[A-Za-z]{2,100}") %>
            <div>
              <%= f.label(:name, "Prénom") %>
              <%= f.text_field(:name, required: true, id:'name', class:"form-control", placeholder:"prenom", pattern:"[A-Za-z]{2,100}") %>
            </div>
          </div>
          <%= f.submit "valider", id:"send-button"%>
          <% end %>
        </div>

        <div id="user-info-right">
            <h2 class="principal-right-title">Mon apparence: </h2>
            <h4 class="right-title">Modifier ma photo: </h4>
            <div class="form-group">
              <%= image_tag("zozor.png", :alt => "anonymous profile", id:"user-image", class:'center-content-right') %>
              <input type="file" name="update" class="form-control-file center-content-file" id="idInputFile" aria-describedby="fileHelp">
              <%= form_with(url: "/users/update-color", scope: :session, local: true) do |form| %>
                <%= form.submit "mise à jour"%>
              <% end %>
            </div>

            <div class="form-group">
                <%= form_with(model: @current_user, scope: :session, local: true) do |form| %>
                  <%= form.label(:color, "changer couleur" ,class:'center-content-right') %>
                  <%= form.text_field(:color, required: true, class:"form-control", placeholder:"couleur", minlength: 2, maxlength: 100) %>
                  <%= color_field(:user, "color", value: "#ff0000" ) %>
                <%= form.submit "mise à jour"%>
              <% end %>
            </div>

            <% if @current_user.role == "admin" %>
              <div class="form-group">
                  <a href="/users/admin"><%= image_tag("plus.png", :alt => "anonymous profile", id:"user-image", class:'') %>
                     <span style="color:black">Créer un nouveau compte</span>
                  </a>
              </div>
              <%end%>
        </div>
    </div>
</div>

<% if @current_user %>
  <% if @current_user.role == "admin" %>
    <h1>Bienvenue administrateur</h1>
  <% else %>
    <h1>t'es pas administrateur</h1>
  <% end %>
  <%= form_tag "/users/login", :id => 'myForm', method: :delete do %>
  <% end %>
  <h1>Listes de projets</h1>

  <p>
      <% if @current_user.projects %>
      <table id="customers">
        <tr>
          <th>Nom du projet</th>
          <th>durée du projet</th>
        </tr>
        <% @current_user.projects.each do |project| %>
          <tr>
            <%= content_tag(:td, content_tag(:a, project.name,href:"/users/task")) %>

            <%=content_tag(:td, content_tag(:a, project.duration, href:"/users/task"))%>
          </tr>

        <% end %>
        </table>

      <% else %>
        <%= "pas de projets à afficher" %>
      <% end %>
  </p>


<% else %>
    <h1>Bienvenue visiteur anonyme !</h1>
    <a href="/users/login">S'identifier</a>
<% end %>

<script>
  $(document).ready(function() {
  var passwordField = document.getElementById("new-password");
  var passwordConfirmationField = document.getElementById("confirm-password");
  var validatePassword = (passwordField.value == passwordConfirmationField.value);
  var passwordListener = function(event) {
    passwordConfirmationField.setCustomValidity(passwordField.value == passwordConfirmationField.value ? "" : "mot de passe pas identique");
  }
  $( "#target" ).submit(function( event ) {
    event.preventDefault();
    passwordConfirmationField.addEventListener("input", passwordListener);
    console.log("valeur", passwordField.value);
  });
});
</script>
